auto-install-peers = true
@inductiveautomation:registry=http://nexus.inductiveautomation.com/repository/node-packages/
@inductiveautomation-beta:registry=http://nexus.inductiveautomation.com/repository/inductiveautomation-beta-node-packages/