#toast-root {
    position: absolute;
    z-index: 11100;
}

.Toastify__toast-container {
    transition: padding .3s ease-in-out;
}

.Toastify__toast-container:focus,
.Toastify__toast-container > *:focus {
    outline: none;
}

.Toastify__toast {
    pointer-events: all;
}
