name: Release

on:
  push:
    branches:
      - main  

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
  JAVA_VERSION: 21
  NODE_VERSION: 20

permissions:
  issues: write
  contents: write
  pull-requests: write

jobs:
  build:
    name: 'Build'
    runs-on: ubuntu-latest
    outputs:
      version: '${{ steps.version.outputs.version }}'
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4

      - name: 'Fetch git tags' # Required for axion-release-plugin
        run: git fetch --tags --unshallow

      - name: 'Set up Java ${{ env.JAVA_VERSION }}'
        uses: actions/setup-java@v4
        with:
          java-version: '${{ env.JAVA_VERSION }}'
          distribution: 'zulu'

      - name: 'Set up Node.js'
        uses: actions/setup-node@v4
        with:
          node-version: '${{ env.NODE_VERSION }}'
      - name: 'Initialize Node.js'
        run: npm ci

      - name: 'Setup Gradle'
        uses: gradle/actions/setup-gradle@v3.4.1
        with:
          cache-read-only: ${{ github.event_name == 'pull_request' }}

      - name: 'Restore gradle.properties'
        env:
          GRADLE_IGNITION_MODULE_SIGNING_PROPS: ${{ secrets.GRADLE_IGNITION_MODULE_SIGNING_PROPS }}
        shell: bash
        run: |
          mkdir -p ~/.gradle/
          echo "GRADLE_USER_HOME=${HOME}/.gradle" >> $GITHUB_ENV
          echo "${GRADLE_IGNITION_MODULE_SIGNING_PROPS}" > ~/.gradle/gradle.properties
      - name: 'Make secrets folder'
        run: |
          mkdir ./secrets
        shell: bash
      - name: 'Write certificate to file'
        run: |
          echo -n "$IGNITION_MODULE_CERT_BASE64" | base64 --decode > ./secrets/cert.p7b
        env:
          IGNITION_MODULE_CERT_BASE64: ${{ secrets.IGNITION_MODULE_CERT_BASE64 }}
      - name: 'Write keystore to file'
        run: |
          echo -n "$IGNITION_MODULE_KEYSTORE_BASE64" | base64 --decode > ./secrets/keystore.jks
        env:
          IGNITION_MODULE_KEYSTORE_BASE64: ${{ secrets.IGNITION_MODULE_KEYSTORE_BASE64 }}

      - name: 'Make gradlew executable'
        run: chmod +x ./gradlew

      - name: Create Release Pull Request or publish
        id: changesets
        uses: changesets/action@v1
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: |
            ./gradlew release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
